@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

// Global Stylesheet

// Color Palette
$primary-color: white;
$secondary-color: blue;

// Typography
h1 {
    color: $primary-color;
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 0 0 150px #0066ff , 0 0 30px #0066ff;
    margin: 0;
    text-align: center;
    
}

h2{
    color: $primary-color;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-shadow: 0 0 150px #0066ff , 0 0 30px #0066ff;
    margin: 0;
    

}


p{
    color: $primary-color;
    text-align: left;
    font-size: 1em;
}

a{
    text-decoration: none;
}

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}

